# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
function getActiveBudgetOrder() {
  // There will only be one active budget order at any given time.
  var budgetOrderIterator = AdsApp.budgetOrders()
      .withCondition('status="ACTIVE"')
      .get();
  while (budgetOrderIterator.hasNext()) {
    var budgetOrder = budgetOrderIterator.next();
    Logger.log("Budget Order [" + budgetOrder.getName() +
        "] is currently active.");
  }
}
